name: CI Pipeline

on:
  workflow_call:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: echo "Building application..."

      - name: Test
        run: echo "Running unit tests..."



        

